<ion-header>
  <ion-toolbar>
    <ion-title>voyages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Voyage / se diriger

  Moto = moto saille
  <br>
  Avion = krueng bine
  <br>
  voiture = lot รถ
  <br>
  vélo = djot plai yane จักรยาน
  <br>
  train: lot faille: รถไฟ
  <br>
  bateau: luard: เรือ
  <br>
  essence: nam man benzine น้ำมันเบนซิน
  <br>
  Bus: lot me รถบัส
  <br>
  gauche: saaille ซ้าย
  <br>
  droite: kouaa ขวา
  <br>
  tout droit: tong paille

  <ion-button expand="full" color="danger" href="./home">retour</ion-button>
</ion-content>