<ion-header>
  <ion-toolbar>
    <ion-title>
      Dictionnaire Thailandais
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- création du menu-->
  <div class="ion-padding">
    <ion-list>
    <img src="/assets/icon/calendrier.png">
    <ion-button href="jours">les jours les mois</ion-button>
    <br>
    <img src="/assets/icon/voyage.png">
    <ion-button href="voyages">voyages-se diriger</ion-button>
    <br>
    <img src="/assets/icon/voiture.png">
    <ion-button>voiture</ion-button>
    <br>
    <img src="/assets/icon/maison.png">
    <ion-button>les meubles-habitation</ion-button>
    <br>
    <img src="/assets/icon/hopital.png">
    <ion-button>status</ion-button>
    <br>
    <img src="/assets/icon/calculatrice.png">
    <ion-button>les chiffres-les nombres</ion-button>
    <br>
    <img src="/assets/icon/famille.png">
    <ion-button>famille</ion-button>
    <br>
    <img src="/assets/icon/torse.png">
    <ion-button>le corps humain</ion-button>
    <br>
    <img src="/assets/icon/couleurs.png">
    <ion-button>les couleurs</ion-button>
    <br>
    <img src="/assets/icon/piment.png">
    <ion-button>manger-nourriture</ion-button>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title> © sylvain TOUCHON</ion-title>
  </ion-toolbar>
</ion-footer>